<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mercado Liebre</title>  
</head>
    <img src="img/logo-mercado-liebre.svg" alt="logo mercado liebre">
<body>
    <div>
        Lugar para poner la barra de búsqueda
    </div>
    <div>
        Comprá en cuotas y sin tarjeta de crédito
    </div>
    <div>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
            <li>Creá tu cuenta</li>
            <li>Ingresá</li>
            <li>Mis Compras</li>
        </ul>
    </div>
</body>
</html>
