<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Mercado Liebre</title>  
</head>
    <img src="img/logo-mercado-liebre.svg" alt="logo mercado liebre">
<body>
    <nav>
    <div>
        Lugar para poner la barra de búsqueda
    </div>
    <div>
        Comprá en cuotas y sin tarjeta de crédito
    </div>
    <div>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
            <li>Creá tu cuenta</li>
            <li>Ingresá</li>
            <li>Mis Compras</li>
        </ul>
    </div>
</nav>
    <main>
        <h2>Basado en tu última visita</h2>
        <img src="img/img-cafetera-moulinex.jpg">
        <h4>$6.770</h4>
        <h4>40% OFF</h4>
        <h4>Cafetera Moulinex</h4>
        <img src="img/img-macbook-pro-2019.jpg">
        <h4>$230.000</h4>
        <h4>20% OFF</h4>
        <h4>MacBook Pro 2019</h4>
        <img src="img/img-samsung-galaxy-s10.jpg">
        <h4>$70.500</h4>
        <h4>10% OFF</h4>
        <h4>Samsung Galaxy S10</h4>
        <img src="img/img-tv-samsung-smart.jpg">
        <h4>$23.200</h4>
        <h4>5% OFF</h4>
        <h4>SmartTv Samsung 43"</h4>
        <h2>Sección de ofertas</h2>
        <img src="img/img-cafetera-moulinex.jpg">
        <h4>$6.770</h4>
        <h4>40% OFF</h4>
        <h4>Cafetera Moulinex</h4>
        <img src="img/img-macbook-pro-2019.jpg">
        <h4>$230.000</h4>
        <h4>20% OFF</h4>
        <h4>MacBook Pro 2019</h4>
        <img src="img/img-samsung-galaxy-s10.jpg">
        <h4>$70.500</h4>
        <h4>10% OFF</h4>
        <h4>Samsung Galaxy S10</h4>
        <img src="img/img-tv-samsung-smart.jpg">
        <h4>$23.200</h4>
        <h4>5% OFF</h4>
        <h4>SmartTv Samsung 43"</h4>

    </main>
    <footer>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <h2>Seguridad, de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

</body>
</html>
